body{
    background-image: linear-gradient(to right, rgba(67, 188, 228, 0.979), rgb(0, 234, 255));
}

h1{
    color: cyan;
    background-color: dodgerblue;
    
}

#show_sketch{
float: right;
}

canvas{
    border: 5px solid whitesmoke;
border-radius: 20px;
animation-name:example;
animation-duration: 4s;
margin-top: 50px;
animation-iteration-count: infinite;
}

@keyframes example  {
    
    from{box-shadow: 1px 1px 38px rgb(0, 213, 255);}
    to{box-shadow: 1px 1px 38px rgb(253, 253, 253);}
}
p{
    padding-top: 10px;
    font-size: 25px;
}